<html>
    <head>
        <title><%=title%></title>
        <link type="text/css" rel="stylesheet" href="<%='/'+ themeDir+'/css/global.css'%>"/>
        <script src="/js/zepto.min.js"></script>
        <script src="/js/site.js"></script>
    </head>
   <body>
        <%- include("header.ejs") %>
<div class="container">
   
    <div class="main">
            <% var article=articleList[0];%>
            <div>
                <h2><%=article.title%></h2>
                <div class="markdown"><%-article.content%></div>
            </div>
            <%- include("comment.ejs") %>

    </div>
    <%- include("sidebar.ejs") %>
    
</div>
<%- include("footer.ejs") %>
</body>
</html>
 