<html>

    <head>
        <title><%=title%></title>
        <link type="text/css" rel="stylesheet" href="<%= '/'+themeDir+'/css/global.css'%>"/>
        <script src="/libs/zepto.min.js"></script>
    </head>
   <body>
        <%- include("header.ejs") %>
<div class="container">
    
    <div class="main">
        <%- include("article_list.ejs") %>

    </div>
    <%- include("sidebar.ejs") %>
    
   
</div>

<%- include("footer.ejs") %>

</body>
</html>
 