<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/site/css/global.css"/>
    </head>
   <body>
        <%- include("includes/header.ejs") %>
<div class="container">
   
    <div class="main">
            <% var article=articleList[0];{%>
                <div>
                    <h2><%=article.title%></h2>
                    <div><%-article.content%></div>
                </div>
            <%}%>

    </div>
    <%- include("includes/sidebar.ejs") %>
    
</div>
<%- include("includes/footer.ejs") %>
</body>
</html>
 